.navb{
    font-size: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.navb:hover{
    background-color:gray;
    height: 60px;
    border-radius: 10px;
}

.nave{
    margin-left: 150px;
}
.as{
  position: relative;
  margin: 0%;
}
.as img{
  max-width: 100%;
  height:300px;
}
.as-text{
  position: absolute;
  top: 100px;
  color: white;
  margin-left: 25%;
}
.bb{
    
    margin-top: 20px;
}
.cc{
    border: solid rgba(0, 0, 0, 0) 1px;
    height: 530px;
    width: 1170px;
 background-color: #77777700;
  padding-left: 10px;
}
.booking-form.booking-form {
    width:501px;
    margin: 0 auto;
    background: #1c067600;
    padding: 29px;
    margin-right: -11px;
    color:black;
  }
  
  div.elem-group {
    margin: 0px ;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    margin-left: 1%;
    float: left;
  }
   a{
    color: white;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 1px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 5px;
    border: 1px solid #7777771e;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 1px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 100px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 30px;
    background: rgba(255, 166, 0, 0.624);
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border: solid 1px rgba(0, 0, 0, 0.19);
    cursor: pointer;
    padding-bottom:2px;
    border-radius: 5px;
  }
  .q:hover{
    color: white;
  }
  button:hover {
    background: #333;
  }

  ul {
    list-style-type: none;
    margin: 0;
    
    overflow: hidden;
    background-color:teal;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:rgb(254, 254, 254);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 5px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    transition: color 0.3s ease;
    text-decoration: none;
  }
  
  li a:hover {
    color:rgb(7, 7, 7);
  }
  
  
  
  html {
    font-family: sans-serif;
    box-sizing: border-box;
  }

  .sidebar{
  
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.108);
    backdrop-filter: blur(5px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
  }
  .sidebar li{
    width: 100%;
  
  }
  .sidebar a{
    width: 100%;
  }
  .menu{
    display: none;
  }
  
  @media(max-width: 800px){
    .hideonmobile{
      display: none;
    }
    .menu{
      display: block;
    }
  }
