

.header{
    width:100%;
    height: 100vh;
    background-image: url(homer1.jpg);
    background-size: cover;
}
.header h1{
    text-align: center;
    padding-top: 100px;
    color: white;
}
.slide-left{
    animation: slideleft 1s linear forwards;
}
@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color:teal;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:rgb(246, 246, 246);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 5px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    transition: color 0.3s ease;
    text-decoration: none;
  
  }
  
  li a:hover{
    color: rgb(9, 9, 9);
  }
  
  
  
  html {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  .as{
    position: relative;
  }
  .as img{
    max-width: 100%;
    height:500px;
  }
  .as-text{
    position: absolute;
    top: 100px;
    color: white;
    margin-left: 25%;
  }


  .sav h1{
    text-align: center;
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(251, 251, 254); 
    margin-top: 50px;
  }
  .f1 img{
    margin-top: 30px;
     margin-left: 20%;
     height:400px;
     width:850px;
  }
  .food{
    border: 1px rgba(255, 255, 255, 0) solid;
    border: 1px rgba(255, 255, 255, 0.008) solid;
    height: 320px;
    width: 750px;
    margin-left: 24%;
    text-align: center;
    background-color:rgb(58, 57, 57);
    box-shadow: 20px 20px 0px rgb(2, 127, 144);
    margin-top: 20px;
  }
  .food h1{
    margin-top: 30px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
  }
  .food p{
    margin-top: 20px;
    color:white;
    font-family:cursive;
    font-size: 18px;
  }
  .food button{
    background-color:teal;
    color:white;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    border: 1px rgba(255, 255, 255, 0.008) solid;
}
.food button:hover{
  background-color:rgb(2, 73, 73);
}
.grand h1{
  text-align: center;
  font-size:50px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(251, 251, 255); 
  margin-top: 50px;
}
.sidebar{
  
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.108);
  backdrop-filter: blur(5px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}
.sidebar li{
  width: 100%;

}
.sidebar a{
  width: 100%;
}
.menu{
  display: none;
}

@media(max-width: 800px){
  .hideonmobile{
    display: none;
  }
  .menu{
    display: block;
  }
}


@media(max-width: 450px){
.as img{
  width: 100%;
  height: auto;
}
.as-text{
  display: none;
  color: red;
}
.sav h1{
  font-size: 40px;
}
.f1 img{
  margin-left: 25px;
  width: 90%;
  height: auto;
}
.food{
  margin-top: 50px;
  margin-left: 35px;
  width: 80%;
  height: auto;
}
.grand h1{
  font-size: 40px;
}

}
