ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color:teal;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 5px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    transition: color 0.3s ease;
    text-decoration: none;
  
  }
  
  li a:hover {
   color:black;
  }
  
 
  
  html {
    font-family: sans-serif;
    box-sizing: border-box;
  }


.text h1{

  text-align: center;
  margin-top: 40px; 
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(246, 244, 243);

}




.text p{
  font-size: 20px; 
  font-family: 'Times New Roman', Times, serif;
  width: 950px;
  margin-left:120px; 
  color: rgb(251, 246, 246);
}

.text h3{
  margin-left: 120px;
  color: white;
}





.room1 .r{
    margin-top: 70px;
}
.room2 .r{
    margin-top: 70px;
    padding-left:150px;
}
.room3 .r{
    margin-top: 70px;
}
.room1 .r1{
    margin-top: 70px;
}
.room2 .r1{
    margin-top: 70px;
   
    }
.room3 .r1{
    margin-top: 70px;
}
.room1{
    border: solid rgba(210, 105, 30, 0) 1px;
    height: 700px;
    background-color: rgba(218, 165, 32, 0.148);
}
.room2{
    border: solid rgba(210, 105, 30, 0) 1px;
    height: 700px;
    background-color: rgba(216, 112, 147, 0.141);
}
.room3{
    border: solid  rgba(255, 127, 80, 0);
    height: 700px;
    background-color: rgba(255, 127, 80, 0.118);
}

.suit h2{
    color: goldenrod;
    margin-top: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.sl{
   height: 200px;
   width: 200px; 
   margin-left: 60px;
}
.footer{
    padding-top: 1500px;
    
}
.as{
  position: relative;
}
.as img{
  max-width: 100%;
  height:500px;
}
.as-text{
  position: absolute;
  top: 100px;
  color: white;
  margin-left: 25%;
}

body {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

.dark {
  background: #110f16;
}

.light {
  background: #f3f5f7;
}

a, a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.postcard.dark {
  background-color: #18151f;
}
.postcard.light {
  background-color: #e1e5ea;
}
.postcard .t-dark {
  color: #18151f;
}
.postcard a {
  color: inherit;
}
.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 400px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}

.blue .postcard__title:hover {
  color: #0076bd;
}

.blue .postcard__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}

.yellow .postcard__title:hover {
  color: #bdbb49;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}







.sidebar{
  
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.108);
  backdrop-filter: blur(5px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}
.sidebar li{
  width: 100%;

}
.sidebar a{
  width: 100%;
}
.menu{
  display: none;
}








@media(max-width: 800px){

  .hideonmobile{
    display: none;
  }
  .menu{
    display: block;
  }

  .as{
    width: 100%;
    height: auto;
  }
  
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}
.card-row {
  display: flex;
  justify-content: center;
  align-items: center;  
  min-width: 780px;
  width: 100%;
  height: 500px;
}

.card {
  position: relative;
  background-color: #ffffff11;
  height: 370px;
  width: 240px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  transition: height 0.3s, box-shadow 0.3s;
  box-shadow: 20px 20px 0px teal;
}

.card:hover {
  height: 410px;
  box-shadow: 20px 20px 0px rgb(2, 127, 144);
}
.bu{
  border: 1px solid teal;
}
.bu:hover{
background-color: #0076bd;
}





@media (max-width: 450px) {
  

  .as img{
    width: 100%;
    height: auto;
  }

  .as-text h1 {
    font-size: 24px;
    display: none;
  }

  .as-text h5 {
    font-size: 12px;
    width: 80%;
    display: none;
  }
  .tt{
    font-size: 2px;
  }
  .text h1{
    font-size: 37px;
  }
  .text h3{
    margin-top: 35px;
    margin-left: 100px;
  }
  .text p{
    width: 300px;
    margin-left: 30px;
    margin-top: 50px;
  }
  .col-md-4{
    padding: 20px;
    
  }
}
